* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: black;
}

.header{
  color: white;
  background: linear-gradient(85deg, #FC65ED -35.14%, #0500FF 143.06%);
  font-size: 30px;
  font-weight: bold;
  padding: 15px 30px;
  margin-bottom: 60px;
}

.footer{
  color: white;
  background: linear-gradient(85deg, #FC65ED -35.14%, #0500FF 143.06%);
  font-size: 30px;
  font-weight: bold;
  padding: 10px 30px;
  bottom: 0;
  width: 100%
}

.logo{
  width: 100px;
  height: 60px;
  display: block;  
  margin-left: auto;  
  margin-right: auto
}


